<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 가입</title>
<style type="text/css">
table {
	width: 600px;
	border: 1px solid black;
}

.rh {
	background-color: orange;
	width: 80px;
}

th, td {
	border: 1px solid black;
}

input[type="text"], input[type="password"] {
	width: 100%;
	box-sizing: border-box;
	/* padding and border are included in the width */
}
</style>
</head>
<body th:align="center">
	<h1>로그인</h1>[[${loginErrorMsg}]]
	<form action="/member/login" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		<table th:align="center">
			<tr>
				<td class="rh">이메일</td>
				<td><input type="text" name="email" />
			</tr>

			<tr>
				<td class="rh">비밀번호</td>
				<td><input type="password" name="password" />
			</tr>

			<tr>
				<td colspan="2">
					<input type="submit" value="로그인" />
					<button type="button" onClick="location.href='/member/new'">회원가입</button>
				</td>
			</tr>
		</table>
	</form>
</body>

</html>
